* { margin: 0; padding: 0; }

#wrap {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: 
        linear-gradient(90deg, rgba(70,38,193,1) 0%, rgba(201,106,245,1) 33%, rgba(255,136,204,1) 69%, rgba(255,69,142,1) 100%);
    /* 애니메이션 */
    animation-name: ball;                     /* 애니메이션 이름 */
    animation-duration: 3s;                   /* 재생시간 */
    animation-timing-function: linear;        /* 애니메이션이 나타나는 타이밍 함수 */
    animation-iteration-count: infinite;             /* 반복 횟수 */
}

#wrap > h1 { line-height: 200px; color: white; text-align: center; }

/* 애니메이션 변경지점을 지정하는 속성 */
@keyframes ball {
    /* 시작위치 - from or 0% */
    0% {
        left: 0;
        transform: rotate(0deg);
    }

    25% {
        left: 250px;
        transform: rotate(180deg);
    }

    50%{
        left: 500px;
        transform: rotate(360deg);
    }

    75%{
        right: 750px;
        /* left: 250px; */
        transform: rotate(180deg);
    }

    /* 종료위치 - to or 100% */
    100% {
        left: 0px;
        transform: rotate(0deg);
    }


}